.playbar{
    min-width: 100%;
    height: 15vh;
    position: fixed;
    bottom: 0;
    background-color: black;
}

.playbar-content{
    padding: 3vh 4vh 2vh;
}

.current-song{
    width: 25%;
    align-items: center;
}

.current-song .img{
    height: 10vh;
    width: 10vh;
}

.current-song .img img{
    width: 100%;
    object-fit: contain;
}

.current-song #song-info{
    width: 15rem;
    padding-left: 1rem;
    flex-direction: column;
    gap: 0.3rem;
}

#song-info .title, #song-info .singer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    flex-shrink: 1;
    min-width: 0;
}

.current-song #song-info .singer a{
    color: #aba9a9;
}

.play-options{
    width: 50%;
}

.play-options .play-buttons button{
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.play-options .play-buttons button img{
    height: 2vh;
    width: 2vh;
}

.play-options .play-buttons #play-pause{
    background-color: white;
    margin: 0 1rem;
}

.play-options .play-buttons #shuffle, .play-options .play-buttons #repeat{
    margin: 0 0.6rem;
}

.play-options .song-timing{
    font-size: 0.75rem;
    padding-top: 0.75rem;
    gap: 0.5rem;
    color: #aba9a9;
}

.play-options .song-timing #timing{
    height: 0.2rem;
    width: 70%;
    background-color: rgb(88, 87, 87);
}

.play-options .song-timing #timing div{
    background-color: white;
    height: 100%;
    width: 70%;
}

.play-options .song-timing #timing button{
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    border: none;
}